.gitignore
.DS_Store

catalogs
.cache
__pycache__/
notebooks/.ipynb_checkpoints/
*.egg-info/

build/
dist/
*.pyc
develop/

docs/_build/

article/*.pdf
article/*.log
article/*.aux
article/*.pyg
article/*.bib
article/vc.tex
article/*.synctex.gz

sandbox_*.py
